<% include ./layout %>

<div>
  <nav class="navbar">
    <p class="navbar-brand">Find your cheapest flight</p>
    <form action = "/flight" class="form-inline" method = "GET">
      <input class="form-control mr-sm-2" aria-label="Large" type="text" name="from" placeholder="FROM (MXP)" required/>
      <input class="form-control mr-sm-2" type="text" name="to" placeholder="TO (LGW)" required/>
      <input class="form-control mr-sm-2" type="date" name="date" placeholder="DATE (YYYY-MM-DD)" required />
      <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <% if(error && error.length > 0){ %>
	   <div class="container">
		     <div class="alert alert-danger error-message" role="alert">
			        <%= error %>
		     </div>
	   </div>
  <% } %>

  <% if (flight !== undefined ) { %>
    <% for(var i=0; i<flight.priceQuotes.length; i++) { %>
      <div class="container">
        <table class="table table-light">
          <thead>
            <tr>
              <th cope="col">Airline</th>
              <th scope="col">Origin</th>
              <th scope="col">Destination</th>
              <th scope="col">Date</th>
              <th scope="col">Price ($)</th>
              <th scope="col">Stops</th>

            </tr>

          </thead>

          <tbody>
            <tr>
              <td><%= flight.airline[i].Name %></td>
              <td><%= flight.from %></td>
              <td><%= flight.to %></td>
              <td><%= flight.date %></td>
              <td><%= flight.priceQuotes[i].MinPrice.toFixed(2) %></td>

              <% if (flight.priceQuotes[i].Direct) { %>
                <td>Direct</td>
              <% } else {%>
                <td>1+ Stops</td>
              <% } %>
            </tr>
          </tbody>
        </table>
        <hr>

      <% } %>
    <% } %>
  </div>
</div>
